<footer class="footer-cnfig">
  <ion-row class="footer-content">
    <a href="/" class="footer-logo"><img src="assets/img/logo_light.svg" alt="Aucultur"></a>
    <div class="footer-links">
      <a href="assets/static/about_en.html">{{ 'PAGES_INFO_HTML.PAGES_ABOUT_US' | translate }}</a>
      <a href="#">{{ 'PAGES_INFO_HTML.PAGES_EVENT_ORGANIZERS' | translate }}</a>
      <a href="assets/static/cookies_en.html">{{ 'PAGES_INFO_HTML.PAGES_COOKIES_POLICY' | translate }}</a>
      <a href="assets/static/legal_en.html">{{ 'PAGES_INFO_HTML.PAGES_LEGAL_WARNING' | translate }}</a>
    </div>
    <div class="footer-logos">
      <a href="https://www.mesoc-project.eu/" target="_blank"><img class="logo-individual" src="assets/img/logos_mesoc.png" alt="MESOC - Measuring the social dimension of culture"></a>
      <a href="https://www.uv.es/" target="_blank"><img class="logo-individual" src="assets/img/logos_uv.png" alt="Universitat de València"></a>
      <a href="https://www.upv.es/" target="_blank"><img class="logo-individual" src="assets/img/logos_upv.png" alt="Universitat Politècnica de València"></a>
      <a href="https://innoavi.es/es/" target="_blank"><img class="logo-doble" src="assets/img/logos_avi.png" alt="Generalitat Valenciana - Agència Valenciana de la Innovació"></a>
    </div>
  </ion-row>
</footer>

