<ion-row *ngIf="!verifylogin" (click)="navigateLoginRegister()">
  <div class="container-sign-register">
    <ion-row style="align-self: center">
      <div class="col-9">
        <h5 class="ion-no-padding" style="margin: 0%; padding-top: 0px; ">Sign In / Register </h5>
        <p style="align-content: space-between;">Let's explore what’s happening nearby</p>
      </div>
      <div class="col-3">
        <img alt="" src="assets/googleSignInRegister.svg" style="margin-top: 10px; ">
      </div>
    </ion-row>
  </div>
</ion-row>