
<!--div class="color-primary group-field" >
  <div class="bc-primary" style=" border-right:1px solid ; width: 75px; height: 48px; border-radius: 0.25rem; text-align: center;
  display: flex; align-items: center; justify-content: center;">
    <ion-icon name="calendar-clear" style="width:20px; height:20px; color:white"></ion-icon>
  </div>
  <ion-item style="width:100%">
    <ion-datetime class="color-primary" [(ngModel)]="dateSelect" (ionChange)="onchangeDate(dateSelect)"  displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" style="width:189px"></ion-datetime>
  </ion-item>
</div-->