<app-header [verifylogin]="verifylogin"></app-header>

<ion-content *ngIf="evento" class="color-detail">

  <div class="mobile-mode-style width-app">
    <ion-fab id="#dataa" vertical="end" horizontal="end" slot="fixed">
      <ion-fab-button class="share-float quitar-por-ahora">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button>
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div class="color-detail" style="height: 400px;">
      <ion-img class="imgBanner" src="{{evento.imagen}} "></ion-img>
    </div>

    <div class="color-detail">
      <ion-row>
        <div class="col-12 containerBtnTop" style="margin-top: -400px;">
          <ion-avatar style="float: left">
            <div class="btnAfter">
              <div routerLink="/">
                <ion-icon name="arrow-back-outline"
                  style="font-size: 35px; color: white;padding-top: 15px; margin-left: 10px;">
                </ion-icon>
              </div>
            </div>
          </ion-avatar>

          <div class="configBtnTop pr-30">
            <button class="button-share-social quitar-por-ahora">
              <ion-icon class="actionshareSocialOutline" name="share-social-outline">
              </ion-icon>
            </button>
          </div>

          <div class="configBtnTop">
            <div class="" style="width: 40px; height: 40px">
              <label class="" style="width: 40px; height: 40px">
                <input #savedEventCheckbox class="label__checkbox" id="savedEventCheckbox" type="checkbox"
                  [checked]="savedEvent" (change)="changeLike(savedEventCheckbox.checked)" />
                <span class="label__text">
                  <span class="label__check">
                    <ion-icon *ngIf="savedEvent" class="ion-icon-cl" name="heart"></ion-icon>
                    <ion-icon *ngIf="!savedEvent" class="ion-icon-cl" name="heart-outline"></ion-icon>
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </ion-row>

      <ion-row>
        <div class="container-details" style="margin-top: -80px;">
          <ion-row style="align-self: center">
            <ion-col size="12">
              <div class="div-details">{{changeAttributesByLanguage(evento.nombre, evento.nombre_multi)}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="col-9">
              <ion-label>
                <p class="text-details-title"
                  *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy'); else notShowD">
                  <ion-icon class="text-details-title" name="calendar"></ion-icon>
                  <ion-icon name="calendar"></ion-icon>
                  {{evento.fecha_inicio | date : 'MMM dd yyyy'}}
                </p>
                <ng-template #notShowD>
                  <p class="text-details-title">
                    <ion-icon name="calendar"></ion-icon>
                    {{evento.fecha_inicio | date : 'MMM dd yyyy'}} - {{evento.fecha_fin | date : 'MMM dd yyyy'}}
                  </p>
                </ng-template>
                <p class="text-details-title" *ngIf="evento.hora; else notShowH">
                  <ion-icon name="time"></ion-icon>
                  {{evento.hora}}
                </p>
                <ng-template #notShowH>
                  <p class="text-details-title"
                    *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy') && (evento.fecha_inicio | date : 'h:mm')  == (evento.fecha_fin | date : 'h:mm'); else notShowH">
                    <ion-icon name="time"></ion-icon>
                    {{evento.fecha_inicio | date : 'h:mm'}}
                  </p>
                  <ng-template #notShowH>
                    <p class="text-details-title">
                      <ion-icon name="time"></ion-icon>
                      {{evento.fecha_inicio | date : 'h:mm'}} - {{evento.fecha_fin | date : 'h:mm'}}
                    </p>
                  </ng-template>
                </ng-template>
                <div *ngIf="evento.direccion_diferente_Business">
                  <p class="text-details-title" *ngIf="evento.direccion"
                    style=" padding-top:0%; padding-bottom: 0%; margin-top: 0%;margin-bottom: 0%;">
                    <ion-icon name="location"></ion-icon>
                    <!--ion-icon name="location-outline"></ion-icon-->
                    {{changeAttributesByLanguage(evento.direccion, evento.direccion_multi)}}
                  </p>
                </div>
                <div *ngIf="!evento.direccion_diferente_Business && evento.Business">
                  <p class="text-details-title" *ngIf="evento.Business.direccion"
                    style=" padding-top:0%; padding-bottom: 0%; margin-top: 0%;margin-bottom: 0%;">
                    <ion-icon name="location"></ion-icon>
                    <!--ion-icon name="location-outline"></ion-icon-->
                    {{changeAttributesByLanguage(evento.Business.direccion, evento.Business.direccion_multi)}}
                  </p>
                </div>

              </ion-label>

            </div>
            <div class="col-3">
              <div style=" font-size: 25px;">
                <div>€ {{evento.precio}}</div>
              </div>
            </div>
          </ion-row>
        </div>
      </ion-row>
    </div>

    <div style="background-color: #f5f4f4; padding-top: 15px;">
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="details">
          {{ 'EVENT_DETAIL_HTML.TITLE_SECTION_DETAIL' | translate }}
        </ion-segment-button>
        <ion-segment-button value="map">
          {{ 'EVENT_DETAIL_HTML.TITLE_SECTION_MAP' | translate }}
        </ion-segment-button>
        <ion-segment-button value="Schedules">
          {{ 'EVENT_DETAIL_HTML.TITLE_SECTION_SCHEDULE' | translate }}
        </ion-segment-button>
        <ion-segment-button value="opinions">
          {{ 'EVENT_DETAIL_HTML.TITLE_SECTION_OPINIONS' | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="pet" class="color-detail" style="min-height:25vh; max-height:max-content">
      <ion-list class="color-detail" *ngSwitchCase="'details'">
        <ion-item style="text-align:left; font-size:16px; margin: 5px; padding-top: 15px;">
          {{changeAttributesByLanguage(evento.resumen, evento.resumen_multi)}}
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'map'" class="color-detail">
        <div class="col-12" style="min-height: 450px;">
          <iframe [src]="urlmap" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Schedules'" class="color-detail">
        <div class="container-schedules">
          <div style="border-width: 1px; border-style: solid; border-color: transparent; border-bottom-color: #EAEFF3;">
            <!-- DATE -->
            <p class="text-schedules-title"
              *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy'); else notShowD">
              {{evento.fecha_inicio | date : 'MMM dd yyyy'}}
            </p>
            <ng-template #notShowD>
              <p class="text-schedules-title">
                {{evento.fecha_inicio | date : 'MMM dd yyyy'}} - {{evento.fecha_fin | date : 'MMM dd yyyy'}}
              </p>
            </ng-template>
          </div>
          <!-- TIME -->
          <p class="text-schedules-time" *ngIf="evento.hora; else notShowH">
            <ion-icon name="time"></ion-icon>
            {{evento.hora}}
          </p>
          <ng-template #notShowH>
            <p class="text-schedules-time"
              *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy') && (evento.fecha_inicio | date : 'h:mm')  == (evento.fecha_fin | date : 'h:mm'); else notShowH">
              <ion-icon name="time"></ion-icon>
              {{evento.fecha_inicio | date : 'h:mm'}}
            </p>
            <ng-template #notShowH>
              <p class="text-schedules-time">
                <ion-icon name="time"></ion-icon>
                {{evento.fecha_inicio | date : 'h:mm'}} - {{evento.fecha_fin | date : 'h:mm'}}
              </p>
            </ng-template>
          </ng-template>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'opinions'" class="color-detail">
        <div *ngIf="list_opinions.length > 0">
          <h4 class="m-15">{{ 'EVENT_DETAIL_HTML.TITLE_SECTION_OPINIONS' | translate }}</h4>
          <ion-item lines="none" *ngFor="let opinion of list_opinions">
            <div class="col-1 container">
              <div class="container">
                <div *ngIf="!opinion.Usuarios.imagen" class="outer_nouser" style="background-position: center;"
                  [ngStyle]="{'background-image': getUrl()}">
                </div>
                <div *ngIf="opinion.Usuarios.imagen" class="outer" style="background-position: center;"
                  [ngStyle]="{'background-image': 'url(' + opinion.Usuarios.imagen + ')'}">
                </div>
              </div>

            </div>
            <div class="col-11">
              <div class="container-comments">
                <ion-row class="text-comments-title">{{opinion.Usuarios.nombre}}
                </ion-row>
                <ion-row class="text-comments-date">{{opinion.createdAt | date:'MMM d, y - h:mm a'}}</ion-row>
                <ion-row class="text-comments-msg">
                  {{opinion.valor}}
                </ion-row>
              </div>
            </div>
            <div *ngIf="verifylogin">
              <div *ngIf="userId===opinion.Usuarios.id" class="button-hidden-comments">{{
                'EVENT_DETAIL_HTML.TITLE_HIDDEN_BUTTON_COMMENT' | translate }}</div>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <div *ngIf="evento.Encuestas.length>0" class="containerBtnEvaluation">
      <button (click)="evaluateEvent(evento.Encuestas[0].id)" class="button">
        {{ 'EVENT_DETAIL_HTML.EVALUATION_BUTTON' | translate }}
      </button>
    </div>
  </div>

  <div class="web-mode-style background-primary">
    <div class="color-detail" style="height: 250px;">
      <div class="imagenfull" [ngStyle]="{'background-image': 'url(' + evento.imagen + ')'}"></div>
    </div>
    <ion-row class="background-primary" style="display: flex;align-items: center; justify-content: center;">
      <div class="container-details" style=" margin-top: -80px; max-width:980px ;">
        <ion-row>
          <ion-col size="12">
            <div class="div-details">{{changeAttributesByLanguage(evento.nombre, evento.nombre_multi)}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="col-9">
            <ion-label>
              <p class="text-details-title"
                *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy'); else notShowD">
                <ion-icon class="text-details-title" name="calendar"></ion-icon>
                <ion-icon name="calendar"></ion-icon>
                {{evento.fecha_inicio | date : 'MMM dd yyyy'}}
              </p>
              <ng-template #notShowD>
                <p class="text-details-title">
                  <ion-icon name="calendar"></ion-icon>
                  {{evento.fecha_inicio | date : 'MMM dd yyyy'}} - {{evento.fecha_fin | date : 'MMM dd yyyy'}}
                </p>
              </ng-template>
              <p class="text-details-title" *ngIf="evento.hora; else notShowH">
                <ion-icon name="time"></ion-icon>
                {{evento.hora}}
              </p>
              <ng-template #notShowH>
                <p class="text-details-title"
                  *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy') && (evento.fecha_inicio | date : 'h:mm')  == (evento.fecha_fin | date : 'h:mm'); else notShowH">
                  <ion-icon name="time"></ion-icon>
                  {{evento.fecha_inicio | date : 'h:mm'}}
                </p>
                <ng-template #notShowH>
                  <p class="text-details-title">
                    <ion-icon name="time"></ion-icon>
                    {{evento.fecha_inicio | date : 'h:mm'}} - {{evento.fecha_fin | date : 'h:mm'}}
                  </p>
                </ng-template>
              </ng-template>
              <div *ngIf="evento.direccion_diferente_Business">
                <p class="text-details-title" *ngIf="evento.direccion"
                  style=" padding-top:0%; padding-bottom: 0%; margin-top: 0%;margin-bottom: 0%;">
                  <ion-icon name="location"></ion-icon>
                  <!--ion-icon name="location-outline"></ion-icon-->
                  {{changeAttributesByLanguage(evento.direccion, evento.direccion_multi)}}
                </p>
              </div>
              <div *ngIf="!evento.direccion_diferente_Business && evento.Business">
                <p class="text-details-title" *ngIf="evento.Business.direccion"
                  style=" padding-top:0%; padding-bottom: 0%; margin-top: 0%;margin-bottom: 0%;">
                  <ion-icon name="location"></ion-icon>
                  <!--ion-icon name="location-outline"></ion-icon-->
                  {{changeAttributesByLanguage(evento.Business.direccion, evento.Business.direccion_multi)}}
                </p>
              </div>
            </ion-label>

          </div>
          <div class="col-3">
            <div style=" font-size: 25px;">
              <div>€ {{evento.precio}}</div>
            </div>
          </div>
        </ion-row>
      </div>
    </ion-row>
    <div class="container-web-center">
      <div class="row-block-web-center">
        <div class="wrapper-button-options ">
          <div class="box-button-option a">
            <!--button class="button-web">
              {{ 'EVENT_DETAIL_HTML.BUY_BUTTON' | translate }}
            </button-->
          </div>
          <div class="box-button-option b">
            <button *ngIf="evento.Encuestas.length > 0" class="button-web"
              (click)="evaluateEvent(evento.Encuestas[0].id)">
              {{ 'EVENT_DETAIL_HTML.EVALUATION_BUTTON' | translate }}
            </button>
          </div>
          <div class="box-button-option c">
            <label class="button-web">
              <input #savedEventCheckbox class="label__checkbox" id="savedEventCheckbox" type="checkbox"
                [checked]="savedEvent" (change)="changeLike(savedEventCheckbox.checked)" />
              <span class="label__text">
                <span class="label__check">
                  <ion-icon *ngIf="savedEvent" class="ion-icon-cl" name="heart"></ion-icon>
                  <ion-icon *ngIf="!savedEvent" class="ion-icon-cl" name="heart-outline"></ion-icon>

                </span>
              </span>
              <div>{{ 'EVENT_DETAIL_HTML.SAVE_BUTTON' | translate }}</div>
            </label>
          </div>
        </div>

        <div class="container-info-web">
          <div class="wrapper-container-info-web">
            <div class="imagenfull" [ngStyle]="{'background-image': 'url(' + evento.imagen + ')'}"></div>
            <div class="box-description-limit line-clamp-box">
              <p>{{changeAttributesByLanguage(evento.resumen, evento.resumen_multi)}}</p>
            </div>
          </div>
        </div>
        <h4 class="m-15">{{ 'EVENT_DETAIL_HTML.TITLE_SECTION_SCHEDULE' | translate }}</h4>

        <ion-list class="background-primary" *ngFor="let itemschedule of list_schedule">
          <ion-item lines="none">
            <div class="container-schedules">
              <div
                style="border-width: 1px; border-style: solid; border-color: transparent; border-bottom-color: #EAEFF3;">
                <!-- DATE -->
                <p class="text-schedules-title"
                  *ngIf="(itemschedule.fecha_inicio | date : 'MMM dd yyyy')  == (itemschedule.fecha_fin | date : 'MMM dd yyyy'); else notShowD">
                  {{itemschedule.fecha_inicio | date : 'MMM dd yyyy'}}
                </p>
                <ng-template #notShowD>
                  <p class="text-schedules-title">
                    {{itemschedule.fecha_inicio | date : 'MMM dd yyyy'}} - {{itemschedule.fecha_fin | date : 'MMM dd
                    yyyy'}}
                  </p>
                </ng-template>
              </div>
              <!-- TIME -->
              <p class="text-schedules-time" *ngIf="evento.hora; else notShowH">
                <ion-icon name="time"></ion-icon>
                {{evento.hora}}
              </p>
              <ng-template #notShowH>
                <p class="text-schedules-time"
                  *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy') && (evento.fecha_inicio | date : 'h:mm')  == (evento.fecha_fin | date : 'h:mm'); else notShowH">
                  <ion-icon name="time"></ion-icon>
                  {{evento.fecha_inicio | date : 'h:mm'}}
                </p>
                <ng-template #notShowH>
                  <p class="text-schedules-time">
                    <ion-icon name="time"></ion-icon>
                    {{evento.fecha_inicio | date : 'h:mm'}} - {{evento.fecha_fin | date : 'h:mm'}}
                  </p>
                </ng-template>
              </ng-template>
            </div>
          </ion-item>
        </ion-list>

        <div *ngIf="(list_schedule.length==0)" class="container-schedules">
          <div style="border-width: 1px; border-style: solid; border-color: transparent; border-bottom-color: #EAEFF3;">
            <!-- DATE -->
            <p class="text-schedules-title"
              *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy'); else notShowD">
              {{evento.fecha_inicio | date : 'MMM dd yyyy'}}
            </p>
            <ng-template #notShowD>
              <p class="text-schedules-title">
                {{evento.fecha_inicio | date : 'MMM dd yyyy'}} - {{evento.fecha_fin | date : 'MMM dd yyyy'}}
              </p>
            </ng-template>
          </div>
          <!-- TIME -->
          <p class="text-schedules-time" *ngIf="evento.hora; else notShowH">
            <ion-icon name="time"></ion-icon>
            {{evento.hora}}
          </p>
          <ng-template #notShowH>
            <p class="text-schedules-time"
              *ngIf="(evento.fecha_inicio | date : 'MMM dd yyyy')  == (evento.fecha_fin | date : 'MMM dd yyyy') && (evento.fecha_inicio | date : 'h:mm')  == (evento.fecha_fin | date : 'h:mm'); else notShowH">
              <ion-icon name="time"></ion-icon>
              {{evento.fecha_inicio | date : 'h:mm'}}
            </p>
            <ng-template #notShowH>
              <p class="text-schedules-time">
                <ion-icon name="time"></ion-icon>
                {{evento.fecha_inicio | date : 'h:mm'}} - {{evento.fecha_fin | date : 'h:mm'}}
              </p>
            </ng-template>
          </ng-template>
        </div>
        
        <div *ngIf="latitud > 0">
          <h4 class="m-15">{{ 'EVENT_DETAIL_HTML.TITLE_SECTION_HOW_TO_GET' | translate }}</h4>
          
          <div id="map" class="maplocation-box"></div>
        </div>
        <div *ngIf="list_opinions.length > 0">
          <h4 class="m-15">{{ 'EVENT_DETAIL_HTML.TITLE_SECTION_OPINIONS' | translate }}</h4>
          <ion-item lines="none" *ngFor="let opinion of list_opinions">
            <div class="col-1 container">
              <div class="container">
                <div *ngIf="!opinion.Usuarios.imagen" class="outer_nouser" 
                [ngStyle]="{'background-image': 'url(/assets/img/usuario_sin_imagen.png)', 'background-position': 'center'}">
                </div>
                <div *ngIf="opinion.Usuarios.imagen" class="outer"
                  [ngStyle]="{'background-image': 'url(' + opinion.Usuarios.imagen + ')', 'background-position': 'center'}">
                </div>
              </div>

            </div>
            <div class="col-11">
              <div class="container-comments">
                <ion-row class="text-comments-title">{{opinion.Usuarios.nombre}}
                </ion-row>
                <ion-row class="text-comments-date">{{opinion.createdAt | date:'MMM d, y - h:mm a'}}</ion-row>
                <ion-row class="text-comments-msg">
                  {{opinion.valor}}
                </ion-row>
              </div>
            </div>
            <div *ngIf="verifylogin">
              <div (click)="showHideReviewUser(opinion)" *ngIf="userId==opinion.UserId" class="button-hidden-comments">{{
                'EVENT_DETAIL_HTML.TITLE_HIDDEN_BUTTON_COMMENT' | translate }}</div>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>