<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MODIFY_PASSWORD_HTML.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-item lines="none">
    <h2>{{ 'MODIFY_PASSWORD_HTML.PASSWORD_MODIFY' | translate }}</h2>
  </ion-item>
  <ion-item lines="none" *ngIf="linkBack">
    <ion-button type="button" expand="full" size="small" fill="clear" (click)="goAuth()" class="button-black-text">
      {{ 'MODIFY_PASSWORD_HTML.GO_TO_AUTH' | translate }}
    </ion-button>
  </ion-item>
  <form [formGroup]="modifyForm" (ngSubmit)="onFormSubmit(modifyForm.value)" *ngIf="!linkBack">
    <ion-item lines="none">
      <ion-note color="black">
        {{ 'MODIFY_PASSWORD_HTML.PASSWORD_REQUIRED_ERROR' | translate }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'MODIFY_PASSWORD_HTML.PASSWORD' | translate }}
      </ion-label>
      <ion-input type="password" formControlName="password" [disabled]="!username || !token" [(ngModel)]="password">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ng2-password-strength-bar [passwordToCheck]="password" [barLabel]="barLabel" [barColors]="myColors">
      </ng2-password-strength-bar>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'MODIFY_PASSWORD_HTML.PASSWORD_CONFIRMED' | translate }}
      </ion-label>
      <ion-input type="password" formControlName="confirmpassword" [disabled]="!username || !token"
        [(ngModel)]="confirmpassword"></ion-input>
    </ion-item>
    <ion-item lines="none" padding-top *ngIf="username && token">
      <ion-button expand="full" size="default" class="button-blue" type="submit" [disabled]="!modifyForm.valid">
        {{ 'MODIFY_PASSWORD_HTML.MODIFY' | translate }}
      </ion-button>
    </ion-item>
    <ion-item lines="none" *ngIf="linkRegenerate">
      <ion-button type="button" expand="full" size="small" fill="clear" (click)="regenerate()"
        class="button-black-text"> {{ 'MODIFY_PASSWORD_HTML.GENERATE_NEW_TOKEN' | translate }}
      </ion-button>
    </ion-item>
  </form>
</ion-content>