ion-searchbar{
    --border-radius:27px;
}

/*
.leaflet-default-icon-path {
    background-image: url('assets/leaflet/marker-icon.png');
}

.leaflet-default-shadow-path {
    background-image: url('assets/leaflet/marker-shadow.png');
}*/