<ion-tabs >

  <ion-tab-bar class="menu-bottom" slot="bottom">
    <ion-tab-button tab="homeapp">
      <div class="buttonHome">
        <ion-icon  name="home"></ion-icon>
        <ion-label>Experiences</ion-label>
      </div>
    </ion-tab-button>

    <!--ion-tab-button tab="search-events">
      <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
    </ion-tab-button-->

    <!--ion-tab-button tab="messages">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button-->   

    <ion-tab-button tab="saved-events">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="editar-usuario">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

